$green: #395839;
$gray-dark: #333;
$body-color: $gray-dark;

$brand-primary: $green;

$font-family-sans-serif: 'Open Sans','Helvetica Neue',Arial,sans-serif;
$font-family-serif: Merriweather,'Helvetica Neue',Arial,sans-serif;
$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;

$navbar-light-color: $brand-primary;
$hr-border-color: $brand-primary;
$hr-border-width: 3px;

$border-color: rgba(34,34,34,.05);
$card-border-color: $border-color;

.navbar, .navbar-brand, #sidebar, footer, .navbar-toggler {
  font-family: $font-family-sans-serif;
  font-size: 0.9rem !important;
}

.navbar-right {
  justify-content: flex-end;
}

.navbar-light {
  font-weight: bold;
  border-bottom: $border-color 1px solid;
  background-color: #fff;
  text-transform: uppercase;
}

h1, h2 {
  text-align: center;
}
h1::after, h2::after, hr {
  display: block;
  content: " ";
  border-bottom: $hr-border-color $hr-border-width solid;
  max-width: 1.5em;
  margin: 0.5em auto;
}

aside {
  margin-bottom: 1em;
}

#pageinfo {
  display: flex;
  justify-content: space-between;
  span {
    margin-top: 0.5em;
  }

  padding: 0.5em;
}
